body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 20px;
  text-align: center;
}

button {
  margin: 10px;
}

.list-items-style {
  width: 200px;
  background-color: lightgray;
  padding: 5px;
}

.item-style {
  border: 1px solid black;
  padding: 5px;
  background-color: gray;
}

.list-wrap {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.my-lists {
  display: flex;
  flex-direction: column;
  min-height: 60px;
}