body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 20px;
  text-align: center;
}

button {
  margin: 5px;
}

.fa-times-circle {
  float: right;
  cursor: pointer;
  color: rgb(165, 0, 0);
}

.left {
  float: left;
}

.pop-ups {
  display: none;
  height: fit-content;
  min-width: 320px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  position: absolute;
  top: 10vh;
  left: 10vw;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.board-names {
  overflow: hidden;
  margin-bottom: 5px;
  width: 300px;
  min-width: 200px;
  overflow: hidden;
}

.board-names:hover {
  background-color: lightgreen;
}

.board-names-wrap {
  background-color: lightgray;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  width: fit-content;
}

.list-title-style {
  overflow: hidden;
}

.item-style {
  overflow: hidden;
}

#add-item-container {
  width: 300px;
  overflow: hidden;
}

#board-title {
  display: inline-block;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

#list-name-input {
  margin: 5px;
}

@media (max-width: 800px){
}

@media only screen and (max-device-width: 480px){
}