body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 20px;
  text-align: center;
}

button {
  margin: 5px;
}

.pop-ups {
  display: none;
  height: 100px;
  width: 400px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 200px;
  left: 200px;
  box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.close-buttons {
  background-color: rgb(165, 0, 0);
  color: white;
  border: 1px solid black;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.close-buttons:hover {
  background-color: red;
}

@media (max-width: 800px){
}

@media only screen and (max-device-width: 480px){
}